## Cluster
PROVIDER: custom
CLUSTER_NAME: mycluster
NAMESPACE: viyanamespace

## MISC
DEPLOY: true # Set to false to stop at generating the manifest
# NAT gateway ip + everything, restrict as appropriate
LOADBALANCER_SOURCE_RANGES: ['XXXNatIP', '0.0.0.0/0']

## Storage
V4_CFG_MANAGE_STORAGE: true

## SAS API Access
# raw not base64
V4_CFG_SAS_API_KEY: 'XXX'
V4_CFG_SAS_API_SECRET: 'XXX'
V4_CFG_ORDER_NUMBER:  'XXX'

## Ingress
V4_CFG_INGRESS_TYPE: ingress
V4_CFG_INGRESS_FQDN: 'viya.viya.internal'
V4_CFG_TLS_MODE: "full-stack

## Postgres
V4_CFG_POSTGRES_TYPE: internal

V4_CFG_CADENCE_NAME: stable
V4_CFG_CADENCE_VERSION: 2021.1.5
